rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Super admin has full read/write
      allow read, write: if request.auth != null && request.auth.uid == 'AGGukM4aXuYsURCTX5eA2SAtwVF3';
      
      // Other admins
      allow read, write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
      
      // Users can read their own profile
      allow read: if request.auth != null && request.auth.uid == userId;
      
      // Users can create their own profile ONLY if role is pending
      allow create: if request.auth != null && request.auth.uid == userId && request.resource.data.role == 'pending';
    }
  }
}
